
li{
    list-style-type: none;  
    margin: 0 2vw;
    /* our font-size will be 3% of the height of the viewport */
    font-size: 3vh;
  }

 
a{
    text-decoration: none;
    
    /*below I changed the color*/
    color: black;
    /*I added some padding*/
    padding: 2vw;
    /*also changed the font family but that's totally irrelevant*/
    font-family: monospace;
  }


  a:hover{
    background-color: #b99b12;
  }

  button{
    display: none;
  }

nav{
    width: 100vw;
    background-color: #f1332d;
  }

ul{
    margin: 0;
    padding: 0;
    
    /*this option by default dispose the elements in a row (flex-direction: row)*/
    display: flex;
  }
  
  body{
    margin: 0;
  }


/*change the layout of the navigation bar for all the screens 
that have a width less or equal than 500px*/

@media only screen and (max-width: 500px) {
    /*shows elements in a column*/
    ul{
      flex-direction: column;
    }
    
    /* deletes margin on top or bottom of the a tag*/
    li{
      margin: 0;
    }
   /* makes sure that the a tag will take the entire screen*/
    a{
      display: block;
    }
  }


  @media only screen and (max-width: 500px) {
    ....
   
   button{
     /*makes the button visible*/
     display: block;
     
     /*since we are here, we can style it a little bit!*/
     padding: 2vw;
     font-size: 3vh;
     background-color: #AFE0FF;
     border: none;
     
     /*outline none removes the default blue border that appears anytime you click on the button*/
     outline: none;
     
     cursor: pointer;
   }
 }

 button{
    display: block;
    ...
    cursor: pointer;
    
    /*this put the button on the left*/
    align-self: flex-start;
  }