{% extends 'base.html' %}
{%block title %}account page {% endblock %}
<!-- {% block content %} -->
{% block body %}

<div>
    
<h1>THIS IS AN ACCOUNT USERS PROFILE PAGE</h1>
    thank u for logging in {{ user.first_name }}
    {{ user.user_id }}
    {{ user.email }}
</div>
<div> 
<h2>{{ user.first_name }}'s Preferences</h2>
    
    likes: 
    {% for preference in preferences %}
    {{ preference.preference_name }}
    {% endfor %}
</div>
<h3>THESE ARE SOME FAVORITES</h3>
<div>
    {{ user.first_name }}'s Favorite Restaurants
    {% if favorite_restaurants %}
    {% for item in favorite_restaurants %}
    <p id="restaurant-name">{{ item.restaurant_info['name'] }}</p>
    {% endfor %}
    {% endif %}
    
    view all your favorites and their info<br/>
    <form action="/favorite_restaurants">
        <a href="/favorite_restaurants">
    <button id="favorite-restaurants">View Favorites</button>
</a>
</form>
</div>

<!-- should go in the center of the page -->
<button id="search"><a href='/search'>go make a Pot Luck search!🎰</a></button>
<!-- should go in the center of the page -->


{% endblock %}
{% endblock %}