{% extends 'base.html' %}
{%block title %}account page {% endblock %}
<!-- {% block content %} -->
{% block body %}

<div>
    
<h1>THIS IS AN ACCOUNT USERS PROFILE PAGE</h1>
    thank u for logging in {{ user.first_name }}
    {{ user.user_id }}
    {{ user.email }}
<h2>{{ user.first_name }}'s Preferences</h2>
    {% for preference in preferences %}
    likes: {{ preference.preference_name }}
    {% endfor %}
</div>
<!-- should go in the center of the page -->
<a href='/search'>go make a Pot Luck search!🎰</a>
<!-- should go in the center of the page -->
<h3>THESE ARE SOME FAVORITES</h3>
{#.. #}

{% endblock %}
{% endblock %}