{% extends 'base.html' %}
{%block title %}create an account{% endblock %}
{% block content %}
<div class="container">
  <div class="d-flex justify-content-center">
    <div id="card-create-account">
            <h5 id="create-account-card-header">Create a Potluck Account!</h5>
              <div id="form-group-create-account">
                <div class="card-body">
                  <p class="card-text">
                    <div class="form-group">
                      <form action='/create_account' method='POST'>
                      <p>
                      <label for="first_name">first name</label>
                      <input type="text" name="first_name" class="form-control">
                      </p>
                      <p>
                      <label for="first_name">last name</label>
                      <input type="text" name="last_name" class="form-control">
                      </p>
                      <p>
                        <label for="email">email</label>
                        <input type="text" name="email" class="form-control" placeholder="email@example.com">
                        </p>
                      <p>
                      <label for="password">password</label>
                      <input type="password" name="password" class="form-control">
                      </p>
                      <p>
                      <label for="user_zipcode">zipcode</label>
                      <input type="text" name="user_zipcode" class="form-control">
                      </p>
                      <p>
                      <label for="user_zipcode">over 21?</label>
                      <select name = "over_21">
                        <option value = "True">Yes</option>
                        <option value = "False">No</option>
                      </select>
                      </p>
                      <button id="create-account-button" type="submit" class="btn btn-primary btn-lg">create account</button>
                      </form>
                    </div>
                  </p>
                </div>
              </div>
    </div>
  </div>
</div>
<br/>

{% endblock %}



