{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="width: 70%">
  <div class="d-flex justify-content-center">
  <div class="row align-items-center">
    <div class="col align-items-center">
      <div class="text-center">
        <div id="dealers-choice">
        <!-- <div class="shadow p-2 mb-5 bg-black rounded"> -->
        <img src="/static/canva/header1.png" style="width:100%" class="rounded" alt="potluck brands header">
      <!-- </div> -->
        </div>
    </div>
    </div>
  </div>
</div>
</div>
    
<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="row justify-content-md-center">
      <div class="shadow p-2 mb-5">
      <div id="card-login" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><p style="font-family:courier,arial,helvetica; color: black">Log Into Your<br/> Potluck Account</p></h5>
          <p class="card-text">
            <form action = '/login' method='POST'>
            <label for="colFormLabel" class="col-sm-2 col-form-label">email</label>
            <input type="email" name="login_email" class="form-control" placeholder="pot@luck.com">
            <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label">password</label>
            <input type="password" name="login_password" class="form-control">
          </p>
          <button id="homepage" type="submit" class="btn btn-primary btn-lg">Log In</button>
        </form>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>    
<br/>
<div class="d-flex justify-content-center">
  <div class="row align-items-center">
    <div class="col">
      <div id="card-create-account" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title"><h5>Not a member yet???</h5>
          <button id="homepage" type="submit" class="btn btn-primary btn-lg">Create a Pot Luck Account</a></button>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
{% endblock %}
</html>
</body>
