{% extends 'base.html' %}
{%block title %}search{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
                      <div class="col-4" id="search-image">
                      </div>
                      <div class="col-8" id="search-page">
                        <div id="card-header-search">Let's Search for a Potluck!</div>
                        <div id="form-group-search">
                          <div class="card-body">
                            <p class="card-text-search">
                              <div class="form-group">
                                <form action='/search_results'>
                                  <h3>zipcode</h3>
                                  <input type="text" name="zipcode" class="form-search-control" value="{{ user.user_zipcode }}">
                                  <h3>cuisine</h3>
                                  <input type="text" name="categories" class="form-search-control">
                                  <h3>close to this address</h3>
                                  <input type="text" name="address" class="form-search-control">
                                  <h3>$, $$, $$$ or $$$$?</h3>
                                  <input type="text" name="price" class="form-search-control">
                                    <div class="showing-results" id="search-options" style="display:none"> 
                                      <h1>The whole point of Rando is to try new things.</h1> <br/>
                                      <h3>Want to look for hot-n-new restaurants in your area? ;)</h3>
                                      <select name="hot-and-new">
                                      <option value="False">No I like tried and true</option>
                                      <option value="True">HELL YES</option>
                                      </select>
                                        {#
                                        <h3>Want to prioitize restaurants with deals going on?</h3>
                                        <select name="deals">
                                        <option value="False">Naw</option>
                                        <option value="True">Yep</option>
                                        </select>..#}
                                      <h3>Does it need to be open right now?</h3>
                                      <select name="open-now">
                                      <option value="False">Nope</option>
                                      <option value="True">Yep</option>
                                      </select>
                                      <h3>Does you want to be able to make a rezzie?</h3>
                                      <select name="reservation">
                                      <option value="False">Nope</option>
                                      <option value="True">Yep</option>
                                      </select>
                                    </div><br/>
                                      <br/><button id="more-choices" type="button" class="btn btn-primary">Make more filter choices!</button> 
                                      <br/><br/>
                                      <button id="search-results" type="submit" class="btn btn-primary">PATHWAY TO YOUR RESULTS</button>
                                      <br/>
                                </form>
                              </div>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-0">
                      </div>
      
  </div>
</div>
<br/><br/>

{% endblock %}
